<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main page</title>
  </head>
  <body>
    <header>
      <h3>My Website</h3>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </nav>
    <h1>Welcome to the home page</h1>
    <p>asta nuj inca ce trb sa fie</p>

    <footer>
      <p>&copy; 2023 Your Company</p>
    </footer>
  </body>
</html>
